.gameTable {
	display: flex;
	width: 100%;
	height: 100%;
    align-items: center;
    justify-content: center;
	overflow: hidden;
}

.pixi-canvas {
    top: 0;
    left: 0;
width: 100%;
    height: 100%;
}
#test {
	canvas {
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		image-rendering: auto;


	}
}
