.gameTable {
	display: flex;
	width: 100%;
	height: 100%;
    align-items: center;
    justify-content: center;
	overflow: hidden;
}


.canvasWrapper {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
