* {
    //user-select: none;
    outline:none;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.nechto-wrapper {
    display: flex;
    position: relative;
    width:100%;
    height:100%;
    background-image: url("../../resources/images/thing_bg.png");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-position: center;
    background-size: contain;
}


.layoutChangeButton {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    background: #000000bf;
    border: 0px;
    padding: 6px;
    color: white;
    width: 117px;
    border-radius: 0px 0px 0px 10px;
}
