.cardWrapper {
	display: flex;
	cursor: pointer;
    flex-direction: column;
	border-radius: 4px;
	align-items: center;
	position: relative;
	img {
		width: 100%;
		border-radius: 3px;
	}
	&.cardCanBeUsed {
        box-shadow: 0px 0px 2px 2px #3dff00;
	}
	.card-clickable-zone {
		width:100%;
		height:100%;
	}
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	overflow: hidden;
	&.analysis { background-image: url("../../../resources/cards/analysis.png"); }
	&.axe { background-image: url("../../../resources/cards/axe.png"); }
	&.barricade { background-image: url("../../../resources/cards/barricade.png"); }
	&.blindDate { background-image: url("../../../resources/cards/blindDate.png"); }
	&.chainReaction { background-image: url("../../../resources/cards/chainReaction.png"); }
	&.eventBack { background-image: url("../../../resources/cards/eventBack.png"); }
	&.fear { background-image: url("../../../resources/cards/fear.png"); }
	&.flamethrower { background-image: url("../../../resources/cards/flamethrower.png"); }
	&.forgetfulness { background-image: url("../../../resources/cards/forgetfulness.png"); }
	&.friendship { background-image: url("../../../resources/cards/friendship.png"); }
	&.goAway { background-image: url("../../../resources/cards/goAway.png"); }
	&.infect { background-image: url("../../../resources/cards/infect.png"); }
	&.leaveMeAlone { background-image: url("../../../resources/cards/leaveMeAlone.png"); }
	&.lookaround { background-image: url("../../../resources/cards/lookaround.png"); }
	&.lovecraft { background-image: url("../../../resources/cards/lovecraft.png"); }
	&.miss { background-image: url("../../../resources/cards/miss.png"); }
	&.necronomikon { background-image: url("../../../resources/cards/necronomikon.png"); }
	&.noFire { background-image: url("../../../resources/cards/noFire.png"); }
	&.noThanks { background-image: url("../../../resources/cards/noThanks.png"); }
	&.oldRopes { background-image: url("../../../resources/cards/oldRopes.png"); }
	&.oneTwo { background-image: url("../../../resources/cards/oneTwo.png"); }
	&.onlyBetweenUs { background-image: url("../../../resources/cards/onlyBetweenUs.png"); }
	&.oops { background-image: url("../../../resources/cards/oops.png"); }
	&.panicBack { background-image: url("../../../resources/cards/panicBack.png"); }
	&.positionswap { background-image: url("../../../resources/cards/positionswap.png"); }
	&.quarantine { background-image: url("../../../resources/cards/quarantine.png"); }
	&.recognitionTime { background-image: url("../../../resources/cards/recognitionTime.png"); }
	&.reelFishingRods { background-image: url("../../../resources/cards/reelFishingRods.png"); }
	&.seduction { background-image: url("../../../resources/cards/seduction.png"); }
	&.suspicion { background-image: url("../../../resources/cards/suspicion.png"); }
	&.tenacity { background-image: url("../../../resources/cards/tenacity.png"); }
	&.thing { background-image: url("../../../resources/cards/thing.png"); }
	&.threeFour { background-image: url("../../../resources/cards/threeFour.png"); }
	&.whiskey { background-image: url("../../../resources/cards/whiskey.png"); }
	&.youCallThisParty { background-image: url("../../../resources/cards/youCallThisParty.png"); }

}

